a:-webkit-any-link {
  text-decoration: none;
}

.similar-job-item {
  display: flex;
  flex-direction: column;
  padding: 50px;
  border: solid 0px;
  border-radius: 24px;
  margin: 20px 40px 20px 0px;
  background-color: #202020;
  width: 35%;
}

@media screen and (max-width: 769px) {
  .similar-job-item {
    width: 100%;
    margin: 20px 0px;
  }
}

.similar-job-item-company-details-content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 95px;
  margin: 10px 0px 20px 0px;
}

.similar-job-item-company-img {
  width: 95px;
  border: solid 0px;
  border-radius: 18px;
}

.similar-job-item-role-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 95px;
  margin-left: 20px;
}

.similar-job-item-role {
  color: #ffffff;
  font-family: Roboto;
  font-size: 26px;
  font-weight: 800;
  margin: 0px;
}

.similar-job-item-rating-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50px;
}

.similar-job-item-rating-icon {
  color: #fbbf24;
  font-size: 26px;
}

.similar-job-item-rating {
  color: #f8fafc;
  font-family: Roboto;
  font-size: 26px;
  font-weight: 800;
  margin: 0px;
}

.similar-job-item-description-content {
  margin-top: 20px;
}

.similar-job-item-description-heading {
  color: #f8fafc;
  font-family: Roboto;
  font-size: 21px;
  font-weight: 800;
}

.similar-job-item-description {
  color: #cbd5e1;
  font-family: Roboto;
  font-size: 21px;
  font-weight: 500;
  line-height: 1.5;
}

.similar-job-item-details-content {
  display: flex;
}

.similar-job-item-details {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.similar-job-item-icon {
  color: #ffffff;
  font-size: 26px;
}

.similar-job-item-icon-title {
  color: #cbd5e1;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  margin: 0px 0px 0px 10px;
}
