.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 200px 0px;
  background-color: #000000;
  min-height: 100vh;
}

.not-found-img {
  width: 50%;
}

.not-found-heading {
  color: #f1f5f9;
  font-family: Roboto;
  font-size: 56px;
  font-weight: 800;
  margin-bottom: 0px;
}

@media screen and (max-width: 769px) {
  .not-found-heading {
    font-size: 32px;
  }
}

.not-found-description {
  color: #7e858e;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 0px;
}

@media screen and (max-width: 769px) {
  .not-found-description {
    text-align: center;
    font-size: 18px;
  }
}
