a:-webkit-any-link {
  text-decoration: none;
}

.job-item-container {
  display: flex;
  flex-direction: column;
  padding: 30px;
  border: solid 0px;
  border-radius: 24px;
  margin: 20px 0px;
  background-color: #202020;
}

.job-item-company-details-content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 95px;
  margin: 10px 0px 20px 0px;
}

@media screen and (max-width: 769px) {
  .job-item-company-details-content {
    height: 65px;
  }
}

.job-item-company-img {
  width: 95px;
  border: solid 0px;
  border-radius: 18px;
}

@media screen and (max-width: 769px) {
  .job-item-company-img {
    width: 65px;
  }
}

.job-item-role-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 95px;
  margin-left: 20px;
}

@media screen and (max-width: 769px) {
  .job-item-role-details {
    height: 65px;
  }
}

.job-item-role {
  color: #ffffff;
  font-family: Roboto;
  font-size: 26px;
  font-weight: 800;
  margin: 0px;
}

@media screen and (max-width: 769px) {
  .job-item-role {
    font-size: 24px;
  }
}

.job-item-rating-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50px;
}

.job-item-rating-icon {
  color: #fbbf24;
  font-size: 26px;
}

@media screen and (max-width: 769px) {
  .job-item-rating-icon {
    font-size: 21px;
  }
}

.job-item-rating {
  color: #f8fafc;
  font-family: Roboto;
  font-size: 26px;
  font-weight: 800;
  margin: 0px;
}

@media screen and (max-width: 769px) {
  .job-item-rating {
    font-size: 21px;
  }
}

.job-item-details-content {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 2px #b6c5ff;
}

@media screen and (max-width: 769px) {
  .job-item-details-content {
    padding-bottom: 20px;
  }
}

.job-item-details {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.job-item-extra-details {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

@media screen and (max-width: 769px) {
  .job-item-extra-details {
    margin-right: 20px;
  }
}

.job-item-icon {
  color: #ffffff;
  font-size: 26px;
}

@media screen and (max-width: 769px) {
  .job-item-icon {
    font-size: 18px;
  }
}

.job-item-icon-title {
  color: #cbd5e1;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  margin: 0px 0px 0px 15px;
}

@media screen and (max-width: 769px) {
  .job-item-icon-title {
    font-size: 14px;
    margin: 0px 0px 0px 15px;
  }
}

.job-item-package {
  color: #ffffff;
  font-family: Roboto;
  font-size: 26px;
  font-weight: 500;
  margin-left: 20px;
}

@media screen and (max-width: 769px) {
  .job-item-package {
    font-size: 21px;
    margin: 0px 0px 0px 20px;
  }
}

.job-item-description-content {
  margin-top: 20px;
}

.job-item-description-heading {
  color: #f8fafc;
  font-family: Roboto;
  font-size: 21px;
  font-weight: 800;
}

@media screen and (max-width: 768px) {
  .job-item-description-heading {
    font-size: 18px;
  }
}

.job-item-description {
  color: #cbd5e1;
  font-family: Roboto;
  font-size: 21px;
  font-weight: 500;
  line-height: 1.5;
}

@media screen and (max-width: 768px) {
  .job-item-description {
    font-size: 18px;
  }
}
