.jobs-container {
  display: flex;
  padding: 50px 80px;
  background-color: #000000;
  min-height: 100vh;
}

@media screen and (max-width: 769px) {
  .jobs-container {
    flex-direction: column;
    padding: 30px;
  }
}

.profile-container {
  display: flex;
  flex-direction: column;
  width: 350px;
}

@media screen and (max-width: 769px) {
  .profile-container {
    width: 100%;
  }
}

.jobs-filter-container {
  border-top: solid 2px #6366f1;
  margin-top: 30px;
}

.jobs-filter-heading {
  color: #f1f5f9;
  font-family: Roboto;
  font-size: 32px;
  font-weight: 800;
  margin-top: 30px 0px 0px 0px;
}

.jobs-filter-menu {
  list-style-type: none;
  padding-left: 0px;
}

.jobs-filter-item {
  display: flex;
  align-items: center;
  margin: 20px 0px;
  cursor: pointer;
}

.jobs-filter-input {
  width: 20px;
  height: 20px;
  margin-right: 20px;
  cursor: pointer;
}

.jobs-filter-label {
  color: #f8fafc;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
}

.jobs-content {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  width: 70%;
}

@media screen and (max-width: 769px) {
  .jobs-content {
    width: 100%;
    margin: 30px 0px;
  }
}

.input-container {
  display: flex;
  border: solid 1px #b6c5ff;
  border-radius: 5px;
  width: 60%;
  max-width: 550px;
}

@media screen and (max-width: 769px) {
  .input-container {
    display: none;
  }
}

.mobile-input-container {
  display: flex;
  border: solid 1px #b6c5ff;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 30px;
}

@media screen and (min-width: 769px) {
  .mobile-input-container {
    display: none;
  }
}

.search-input {
  color: #7e858e;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 800;
  padding: 12px 24px;
  width: 85%;
  border: solid 0px;
  background-color: transparent;
  outline: none;
}

.search-btn {
  width: 15%;
  border: solid 0px;
  background-color: #202020;
  cursor: pointer;
}

.search-icon {
  color: #f1f5f9;
  font-size: 24px;
}

.jobs-list-container {
  display: flex;
  flex-direction: column;
  padding-left: 0px;
  list-style-type: none;
}

.no-jobs-failure-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 150px 0px;
}

@media screen and (max-width: 768px) {
  .no-jobs-failure-container {
    margin: 0px;
  }
}

.no-jobs-failure-img {
  width: 80%;
}

.no-jobs-failure-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 30px;
}

.no-jobs-failure-heading {
  color: #f1f5f9;
  font-family: Roboto;
  font-size: 56px;
  font-weight: 800;
  margin-bottom: 0px;
}

@media screen and (max-width: 768px) {
  .no-jobs-failure-heading {
    font-size: 32px;
  }
}

.no-jobs-failure-description {
  color: #7e858e;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .no-jobs-failure-description {
    font-size: 24px;
  }
}

.jobs-retry-btn {
  color: #cbd5e1;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 800;
  border: solid 0px;
  border-radius: 5px;
  padding: 12px 36px;
  background-color: #6366f1;
  cursor: pointer;
}

.jobs-loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
  margin: 50px 0px;
}
