.jobs-container {
  display: flex;
  padding: 50px 80px;
  background-color: #000000;
  min-height: 100vh;
}

.profile-container {
  display: flex;
  flex-direction: column;
  width: 350px;
}

.jobs-content {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  width: 70%;
}

.input-container {
  display: flex;
  border: solid 1px #b6c5ff;
  border-radius: 5px;
  width: 60%;
  max-width: 550px;
}

.search-input {
  color: #7e858e;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 800;
  padding: 12px 24px;
  width: 85%;
  border: solid 0px;
  background-color: transparent;
  outline: none;
}

.search-btn {
  width: 15%;
  border: solid 0px;
  background-color: #202020;
  cursor: pointer;
}

.search-icon {
  color: #f1f5f9;
  font-size: 24px;
}

.jobs-list-container {
  display: flex;
  flex-direction: column;
  padding-left: 0px;
  list-style-type: none;
}

.no-jobs-failure-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0px;
}

.no-jobs-failure-img {
  width: 80%;
}

.no-jobs-failure-heading {
  color: #f1f5f9;
  font-family: Roboto;
  font-size: 56px;
  font-weight: 800;
  margin-bottom: 0px;
}

.no-jobs-failure-description {
  color: #cbd5e1;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
}

.jobs-retry-btn {
  color: #cbd5e1;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 800;
  border: solid 0px;
  border-radius: 5px;
  padding: 12px 36px;
  background-color: #6366f1;
  cursor: pointer;
}

.jobs-loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
  margin: 50px 0px;
}
