.home-container {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  background-size: cover;
  padding: 150px 80px;
}

@media screen and (max-width: 769px) {
  .home-container {
    align-items: flex-start;
    padding: 20px;
    background-image: url('https://assets.ccbp.in/frontend/react-js/home-sm-bg.png');
  }
}

.home-content {
  width: 60%;
  margin-bottom: 100px;
}

@media screen and (max-width: 769px) {
  .home-content {
    width: 100%;
  }
}

.home-heading {
  color: #ffffff;
  font-family: Roboto;
  font-size: 96px;
  font-weight: 800;
  margin-top: 30px;
}

@media screen and (max-width: 769px) {
  .home-heading {
    font-size: 36px;
  }
}

.home-description {
  color: #cbd5e1;
  font-family: Roboto;
  font-size: 32px;
  font-weight: 500;
  margin-top: 30px;
}

@media screen and (max-width: 769px) {
  .home-description {
    font-size: 24px;
  }
}

.home-btn {
  color: #ffffff;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  border: solid 0px;
  border-radius: 8px;
  padding: 12px 36px;
  background-color: #6366f1;
  cursor: pointer;
  margin-top: 30px;
}

@media screen and (max-width: 769px) {
  .home-btn {
    font-size: 16px;
  }
}
