.nav-header {
  padding: 30px 80px;
  background-color: #202020;
}

@media screen and (max-width: 769px) {
  .nav-header {
    padding: 20px;
  }
}

.nav-bar-desktop-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 769px) {
  .nav-bar-desktop-container {
    display: none;
  }
}

.website-logo {
  width: 185px;
}

@media screen and (max-width: 769px) {
  .website-logo {
    width: 105px;
  }
}

.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.nav-menu-item {
  color: #ffffff;
  font-family: Roboto;
  font-size: 32px;
  font-weight: 800;
  margin-left: 50px;
}

.nav-links {
  color: #ffffff;
  text-decoration: none;
}

.desktop-logout-btn {
  color: #ffffff;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  border: solid 0px;
  border-radius: 8px;
  padding: 12px 36px;
  background-color: #6366f1;
  cursor: pointer;
}

.nav-bar-mobile-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 769px) {
  .nav-bar-mobile-container {
    display: none;
  }
}

.nav-menu-mobile {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
  margin: 0px;
}

.nav-menu-item-mobile {
  margin-left: 20px;
}

.nav-icons-mobile {
  color: #ffffff;
  font-size: 30px;
}

.mobile-logout-btn {
  border: solid 0px;
  background-color: transparent;
  cursor: pointer;
}
