.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #121212;
  padding: 150px 0px;
  min-height: 100vh;
}

.login-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px;
  background-color: #202020;
  border: solid 0px;
  border-radius: 18px;
  width: 50%;
  min-height: 80vh;
  max-width: 660px;
}

@media screen and (max-width: 767px) {
  .login-content {
    width: 100%;
    padding: 40px;
    margin: 80px 30px;
  }
}

.login-website-logo {
  width: 200px;
}

@media screen and (max-width: 767px) {
  .login-website-logo {
    width: 40%;
  }
}

.login-form {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  width: 100%;
}

.login-form-label {
  color: #f8fafc;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 800;
  margin-top: 20px;
}

@media screen and (max-width: 767px) {
  .login-form-label {
    font-size: 18px;
  }
}

.login-form-input {
  color: #cbd5e1;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  border: solid 1px #b6c5ff;
  border-radius: 5px;
  padding: 10px 32px;
  margin: 15px 0px;
  background-color: transparent;
  outline: none;
}

@media screen and (max-width: 767px) {
  .login-form-input {
    font-size: 18px;
  }
}

.submit-btn {
  color: #f8fafc;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  border: solid 0px;
  border-radius: 12px;
  padding: 14px 26px;
  margin-top: 30px;
  background-color: #6366f1;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .submit-btn {
    font-size: 12px;
  }
}

.error-msg {
  color: #ff0b37;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
}

@media screen and (max-width: 767px) {
  .error-msg {
    font-size: 8px;
  }
}
